<launch>
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find viratbot_gazebo)/worlds/viratbot_pothole.world" />
        <!-- <arg name="verbose" value="true" /> -->
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="recording" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- Convert xacro and put on parameter server-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find viratbot_description)/urdf/viratbot.urdf.xacro'" />
    <!-- Spawn a robot into Gazebo-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model viratbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />

</launch>